@property --icon-image {
    syntax: "<image>";
    inherits: true;
    initial-value: linear-gradient(#0000, #0000);
}

@property --icon-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #fff;
}

@layer ui-icon {
    :host(ui-icon) {
        & {
            --icon-size: 1.25rem;
            --icon-color: currentColor;
            --icon-padding: 0.125rem;
        }

        & {
            display: inline-grid !important;
            background-color: transparent !important;
            min-block-size: min(var(--icon-size, fit-content), 100%);
            min-inline-size: min(var(--icon-size, fit-content), 100%);
            block-size: stretch;
            inline-size: max-content;
            max-inline-size: stretch;
            max-block-size: stretch;
            place-content: center;
            place-items: center;
            box-sizing: border-box;
            padding: var(--icon-padding, 0.125rem);
            contain: none;
            content-visibility: visible;
            mask-image: none;
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            aspect-ratio: 1 / 1;
            overflow: visible;
            color: var(--icon-color, currentColor);
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            object-fit: contain;
            object-position: center;
            transform: translateZ(0);
            transform-origin: 50% 50%;
            backface-visibility: hidden;
            font-size: 0px;
            line-height: 0;
            interactivity: inert;
        }

        &::before {
            content: "";
            display: flex;
            inline-size: stretch;
            block-size: stretch;
            aspect-ratio: 1 / 1;
            content-visibility: visible;
            background-color: var(--icon-color, currentColor) !important;
            mask-image: var(--icon-image, linear-gradient(#0000, #0000)) !important;
            mask-repeat: no-repeat;
            mask-origin: content-box;
            mask-clip: content-box;
            mask-position: center;
            mask-size: contain;
            mask-type: alpha;
            transition: background-color 0.18s ease;
            object-fit: contain;
            object-position: center;
            line-height: 0;
            font-size: 0;
            padding: 0px;
            margin: 0px;
            border: none;
            outline: none;
            pointer-events: none;
            user-select: none;
            interactivity: inert;
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            overflow: hidden;
            transform: translateZ(0);
            transform-origin: 50% 50%;
            backface-visibility: hidden;
        }
    }
}
